---
import { FaHome } from "react-icons/fa";
import { FaUserCircle } from "react-icons/fa";
import { PiTreeViewFill } from "react-icons/pi";
import { FaBriefcase } from "react-icons/fa";
import { RiContactsBook3Fill } from "react-icons/ri";
---

<nav class="side-bar">
  <FaHome className="side-bar_icon" />
  <FaUserCircle className="side-bar_icon" />
  <PiTreeViewFill className="side-bar_icon" />
  <FaBriefcase className="side-bar_icon" />
  <RiContactsBook3Fill className="side-bar_icon" />
</nav>

<style>
  .side-bar {
    width: 4.5rem;
    height: 22rem;
    background-color: white;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.65rem;
    padding: 4rem 0;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.257);
    color: #01295f;
  }

  .side-bar_icon {
    cursor: pointer;
  }
</style>
