---
interface Props {
  title?: string;
}
const { title = "Document" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
      }

      :root {
        --header-font: "SUSE", sans-serif;
        --presentation-card-font: "Inclusive Sans", sans-serif;
      }

      html {
        font-size: 62.5%;
      }
    </style>
  </body>
</html>
